body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.box {
  padding-top: 150px;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 1px 1px 2px 2px #f5bfb3;
  padding: 40px;
  margin: 60px auto;
  background-color: #f9f7fe;
}
.units {
  position: fixed;
  margin-top: 2px;
  font-size: 18px;
  font-weight: bold;
}
.temp {
  margin-left: 100px;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
}
.time {
  margin-left: 50px;
}

#city-name {
  font-size: 30px;
  margin-top: 20px;
}
.backgroud {
  height: 700px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #a9a6b3;
}
#temperature {
  font-size: 40px;
  padding-top: 100px;
}

#time {
  color: #f5bfb3;
}
#humidity {
  color: #f5bfb3;
}
#speed {
  color: #f5bfb3;
}
#dot {
  color: #f5bfb3;
}

.btn {
  background-color: #f5bfb3;
  border: #f5bfb3;
}
.btn:hover {
  background-color: #bed5e7;
  border: #bed5e7;
}

.coder {
  margin-top: 50px;
  text-align: center;
  margin-bottom: -45px;
  font-size: 12px;
}

.name {
  color: #f5bfb3;
  text-decoration: none;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  cursor: default;
  text-decoration: none;
  color: #f5bfb3;
}

#description::first-letter {
  text-transform: uppercase;
}

#city-name::first-letter {
  text-transform: uppercase;
}
